<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Viewer</title>
  </head>
  <body>
    <h1>Image Viewer</h1>
    <p>Timestamp: <%= timestamp %></p>
    <p>Request Count: <%= requestCount %></p>
    <p>Hash: <%= hash %></p>
    <img src="data:image/jpeg;base64,<%= imageData %>" alt="Random Image" />

    <h2>Todos</h2>

    <ul id="todoList"></ul>

    <form id="todoForm" action="/postTodo" method="POST">
      <input
        type="text"
        id="todoInput"
        name="todo"
        maxlength="140"
        placeholder="Enter your todo here"
        required
      />
      <button type="submit">Send</button>
    </form>
    <script>
      const data = async () => {
        const response = await fetch("http://localhost:8081/todos");
        const data = await response.json();
        console.log(data);
      };

      data();
    </script>
  </body>
</html>
